<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/Develop/output/style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 jumbotron mb-3 team-heading">
                <h1 class="text-center"> My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area col-12 d-flex justify-content-center">
                <div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">Shay Mathis</h2>
        <h3 class="card-title"><i class="fas fa-tasks"></i>
        </br>Manager</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> 151</li>
            <li class="list-group-item"><strong>Email:</strong> <a href="mailto:mathisshay@gmail.com">mathisshay@gmail.com</a></li>
            <li class="list-group-item"><strong>Office Number:</strong> 1</li>
        </ul>
    </div>
</div>

<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">Andre Jones</h2>
        <h3 class="card-title"><i class="fas fa-calculator"></i>
        </br>Engineer</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> 30</li>
            <li class="list-group-item"><strong>Email:</strong> <a href="mailto:jonesandre@gmail.com">jonesandre@gmail.com</a></li>
            <li class="list-group-item"><strong>GitHub:</strong> <a href="https://github.com/jonesandre" target="_blank" rel="noopener noreferrer">jonesandre</a></li>
        </ul>
    </div>
</div>
<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title">Sara McCaw</h2>
        <h3 class="card-title"><i class="fas fa-graduation-cap"></i>
        
    </br>
        Intern</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> 372</li>
            <li class="list-group-item"><strong>Email:</strong> <a href="mailto:mccawsara@gmail.com">mccawsara@gmail.com</a></li>
            <li class="list-group-item"><strong>School:</strong> Trilogy</li>
        </ul>
    </div>
</div>

            </div>
        </div>
    </div>


</body>

</html>